div.main {background:#D80927; margin:5px;height:100%;min-height:200px;}
div.content {background:#D86920; margin:5px;}
div.head {background:#D10927; margin:5px;}
div.logo {background:#D89927;margin:5px; min-height:200;float:left;}
div.top_menu {background:#D86957;margin:5px;}
div.body {background:#D81227; margin:5px;}
div.left_menu {background:#486927;margin:5px;float:left;}
div.common {background:#D86987;margin:5px;}
div.foot {background:#D83927; margin:5px;}
