body{

 margin:0px;
}

div.header {
	width:100%;
	height:120px;
	background:#D10927; 
	margin:5px;}
div.logo {
	width:600px;
	height:100px;
	background:#D89927;
	margin:5px; 
	min-height:200;
	float:left;}
div.top_menu {
	position:absolute;
	left:600px;
	top:10;
	width:30%;
	height:100px;
	background:#D86957;
	margin:5px;

	}


	
div.left {
	width:200px;
	height:300px;
	background:#486927;
	margin:5px;
	float:left;}
div.content{
	

	
	width:80%;
	background:#D86987;
	margin:5px;
	margin-left:210px;
	}
div.footer {
	clear:both;
	width:100%;
	height:100px;
	background:#D83927; 
	margin:5px;
	padding-top:5px;}
